@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #94e2da;
    --secondary-color: #f8f9fa;
    --text-color: #28757c;
}

/* General styles */
body {
    margin: auto;
    padding: auto;
    /* background-color: var(--secondary-color); */
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

/* Footer */
footer {
    background-color: var(--text-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0;
    box-sizing: content-box;
}

/* HOME PAGE */
/* Image */
.home {
    /* background: url('../final-project-course-1/assets/images/name.jpg')  */
    /* no-repeat center center/cover; */
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: var(--secondary-color); */
    padding: 40px;
    margin: 40px;
}

/* Logo img */
.logo-img {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 60%;
    float: inline-start;
}

/* Nav header */
.home nav {
    /* background-color: var(--primary-color); */
    padding: 10px 0;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: right;
    /* position: relative; */
    /* z-index: 1000; */
    top: 100px
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    /* color: var(--secondary-color); */
    color: #555;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
}

nav ul li a:hover {
    color: var(--text-color);
}

.phone-num {
    display: flex;
}

.phone-img {
    width: 13%;
    height: 25px;
}

.number {
    font-size: 15px;
}
/* Sections of home page */
/* div {
    padding: 50px;
    text-align: center;
} */

/* Home main styles */
.home-main {
    text-align: center;
    /* padding: 60px 20px; */
    /* max-width: 80%; */
    margin: 0 auto;
    /* border-radius: 8px; */
}

.main-heading {
    font-size: 70px;
    color: var(--text-color);
    font-weight: normal;
    height: 150px;
    margin-top: 50px;
}

/* Areas
h2.h2 {
    font-size: 30px;
    color: #555;
} */

/* About */
.law-firm-about {
    margin: auto;
    padding: auto;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.about-h2 {
    font-weight: normal;
    font-size: 40px;
    color: var(--text-color);
}

.about-p {
    color: black;
    font-size: 20px;
}

/* Awars */
.image-carousel {
    width: 100%;
    max-width: 600px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    top: 30px;
    align-items: center;
}

/* Awards */
.carousel-track {
    display: flex;
    width: 300px;
    animation: slide 10s infinite ease-in-out;
    gap: 50px;
}

.carousel-track img {
    width: 400px;
    height: 180px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

@keyframes slide {
    0%, 25% { transform: translateX(0); }
    30%, 50% { transform: translateX(-100%); }
    55%, 75% { transform: translateX(-200%); }
    80%, 100% { transform: translateX(-300%); }
}

/* Law Areas Section
.law-areas-home-page {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
} */

/* .law-areas-home-page h2 {
    margin-right: 20px;
    display: block;
} */

/* .law-areas-home-page ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}

.law-areas-home-page li {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
    text-decoration: none;
} */

/* Awards Section
.awards-home-page {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

.awards img {
    width: 250px;
    height: 150px;
    object-fit: contain;
} */

/* .affiliations-home-page {
    background-color: #151f42;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
} */

/* .affiliations-home-page h2 {
    color: white;
    display: block;
} */

/* .affiliations-home-page ul {
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

/* Contact Form */
.contact-home-page {
    margin: 50px;
    padding: 50px;
}

.h3-contact {
    margin-top: 50px;
}

.contact-home-page form {
    display: grid;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

input[type="text"], input[type="email"] {
    border: 1px solid var(--primary-color);
    padding: 8px;
    border-radius: 4px;
}

.btn-home {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #555;
}

/************************** TEAM PAGE ****************************/
/* Nav */
.team nav {
    /* background-color: var(--primary-color); */
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position:relative;
    z-index: 1000;
    top: 40px
}

/* Profile */
#profile {
    text-align: center;
    padding: 120px 20px 50px;
    background-color: white;
    /* max-width: 500px; */
    margin: 100px auto;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* border: 2px solid var(--primary-color); */
    box-sizing: border-box;
    height: 400px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
    margin-top: -80px;
}

.h2-profile, .p-profile  {
    font-weight: normal;
}

.h2-profile {
    font-size: 1.5rem;
    color: var(--text-color);
}

.p-profile {
    font-size: 1rem;
    color: black;
}

/* Sections */
/* section {
    padding: 50px;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.joselyn-contact {
    text-align: center;
    margin: 10px 0;
}

.joselyn-contact ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.left,
.right {
    color: #555;
    font-weight: normal;
    text-decoration: none;
    margin-left: 350px;
    /* border-bottom: 1px solid #ddd; */
}

/* Biography */
.biography {
    margin: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.h2.h2 {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 29px;
}

.h3.h3 {
    font-weight: bold;
    color: var(--text-color);
    font-size: 23px;
}

.biography ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.biography ul li {
    font-size: 16px;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Practice area */
.practice-area {
    width: 60%;
    margin: auto;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.practices-labels {
    display: flex;
    flex-direction: column;
}

.area {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    background-color: #94e2da;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.info {
    display: none;
    padding: 10px;
    background-color: #f8f9fa;
    border-left: 4px solid #28757c;
    margin-top: 5px;
}

input[type="checkbox"]:checked +label + .info {
    display: block; 
}


/* professional affiliations */
.affiliations {
    /* position: absolute; */
    gap: 20px;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    overflow: auto;
}

.affiliations p {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--secondary-color);
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: -400px;
}

.affiliations div {
    display: flex;
    gap: 60px;
    justify-content: center;
    position: relative;
}

.affiliations img {
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-right: 1200px;
}

/* Sección de contacto */
.contact ul {
    text-align: center;
}

.contact ul li {
    margin: 10px 0;
}

.contact ul li a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.contact ul li a:hover {
    text-decoration: underline;
}


/* AREAS PAGE */
/* Nav */
.areas nav {
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position:relative;
    z-index: 1000;
    top: 0px
}

.areas nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.areas nav ul li {
    display: inline;
}

.areas nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}

.areas nav ul li a:hover {
    text-decoration: underline;
}

/* Section of law areas */
.law-areas-page {
    display: block;
    max-width: 900px;
    margin: 100px auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.law-areas-page h2 {
    text-align: center;
    font-size: 35px;
    color: var(--text-color);
    margin-bottom: 30px;
    font-weight: normal;
}

.law-areas-page ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.law-areas-page li {
    display: block;
    align-items: center;
    text-align: left;
    text-justify: auto;
    gap: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.law-areas-page li img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

/*************/
.law-areas-page li:nth-child(odd) img {
    float: left;
    margin-right: 20px;
}

.law-areas-page li:nth-child(even) img {
    float: right;
    margin-left: 20px;
}

.law-areas-page li::after {
    content: "";
    display: table;
    clear: both;
}


/* RESPONSIVE */
/* ✅ MOBILE (480px) */
@media (max-width: 480px) {
    .main-heading {
        font-size: 40px;
        height: auto;
        margin-top: 20px;
    }

    .profile-pic {
        width: 120px; 
        height: 120px;
    }

    .contact-home-page {
        margin: 20px; /* Reducir el margen en móviles */
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px; /* Reducir el espacio entre enlaces */
    }
}

/* ✅ TABLET (481px-1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
    .main-heading {
        font-size: 50px;
    }

    .home {
        flex-direction: column; /* Asegurar que los elementos se apilen */
        padding: 20px;
    }

    .law-areas.law-home {
        flex-direction: column;
        gap: 30px;
    }
}

/* ✅ DESKTOP(>1024px) */
@media (min-width: 1025px) {
    .main-heading {
        font-size: 70px;
    }

    .law-firm-about {
        max-width: 80%;
        margin: auto;
    }
}
